*.aux
*.bbl
*.blg
*.log
*.mp
*.nav
*.out
*.pyc
*.snm
*.synctex.gz
*.tmp
*.toc
*.tui
*.tuo
*.vrb
simulation/*.mat
simulation/caffe/test.h5
simulation/caffe/train.h5
simulation/python/results.mat
simulation/caffe/*.caffemodel
simulation/caffe/*.solverstate
